h1 {
	font-size: 50px;
}

.gamebutton {
	border: solid red;
	text-decoration: none;
	background-color: white;
	padding: 10px 25px;
	font-size: 30px;
	position: relative;
}

#playbtn {
	left: 44%;
}

#blog {
	left: 33%;
}

#itch {
	left: 36%;
}

#cartrdge {
	left: 39%;
}

.gamebutton:hover {
    background-color: #f44336;
    color: white;
}

h1, li, .gamebutton {
	text-align: center;
	font-weight: bold;
	font-family: 'VT323';
}

li {
	text-align: left;
	font-size: 30px;
}


#intro {
	margin-top: 100px;
	border: dashed red;
	padding: 15px;
}


@keyframes down {
	0% {
		margin-top: 0;
	}

	100% {
		margin-top: 48%;
	}
}

.godown {
	animation-name: down;
	animation-duration: 30s;
	animation-fill-mode: forwards;
}

.container {
	border-bottom: solid red;
	height: 550px;
	overflow: hidden;
}

#wordlist {
	font-size: 25px;
}

.indword {
	display: inline;
	border: solid;
	border-radius: 50%;
	padding: 20px;
}

#wordtyped {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}

#scorebox, #reset {
	text-align: right;
}

#gamewon {
	display: none;
}